body {
    background: url('img/bg4.jpg') no-repeat; 
    background-position:center;
    background-size:cover; 
}
#paper{
      position: sticky;
      background-color: white;
      margin-top: 20px;
      font-family:cursive;
      border: 15px solid sandybrown;
      box-shadow: 2px 10px 5px 1px black;

    -webkit-box-shadow: inset 2px 0px 110px 19px rgba(0,0,0,0.33);
    -moz-box-shadow: inset 2px 0px 110px 19px rgba(0,0,0,0.33);
    box-shadow: inset 2px 0px 110px 19px rgba(0,0,0,0.33);
      }

  form{
      box-shadow: 0 0 5px 5px #984c0c;
      padding: 20px;
  }

  input{
        display:none;
  }


.btn-custom {
  color: #000000;
  background-color: transparent;
  box-shadow: 2px 2px 8px black;
  font-size: 3vw;
  padding: 20px;
}

.btn-custom:hover {
  color: #fff;
  background-color: #343a40 !important;

}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
  color: #fff;
  background-color: #343a40 !important;
}

  #b-submit{
     width: 70px;
  }
  .big{
      font-size: 50px;
  }.big-icon{
      font-size: 50vw;
      margin: 10vw 0;
  }

  #timer{
      color: #bfdbf4;
      padding-top: 20px;
      font-family:cursive;
      font-weight: 900;   
  }
  footer{
      color: white;
      font-size: 12px;
  }

